{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },

  "plugins": [
    "react",
    "prettier"
  ],

  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "parser": "babel-eslint",

  "rules": {
    "camelcase": ["warn", {"properties": "never"}],
    "curly": ["warn", "all"],
    "eqeqeq": ["warn", "always"],
    "max-params": ["warn", 3],
    "no-shadow": "warn",
    "no-undef": "warn",
    "no-var": "warn",
    "object-shorthand": ["error", "always"],
    "react/jsx-no-undef": ["warn", { "allowGlobals": true }],
    "react/no-multi-comp": ["warn", { "ignoreStateless": true }],
    "react/react-in-jsx-scope": "warn",
    "react/self-closing-comp": "warn",
    "prettier/prettier": "error"
  }
}
